
body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
    position:fixed;
    top:0;
    background-color: #ae16d4;
    padding:10px 727px;
    transition: background-color 0.3s ease;
}
h1{
    margin-top: 50px;
    margin-bottom: 10px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-width: 60px;
    text-align:left;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #474047;
    color: #b860a5;
}
.scrolled
{
    background-color: #222;
}
section{
    padding: 10px 20px;
    margin-top: 10px;
}
#home{
    height: 500px;
    background-color:rgb(216, 168, 241);
}
#about{
    height:500px;
    background-color: rgb(181, 142, 201);
}
#services{
    height: 500px;
    background-color:rgb(136, 112, 148);
}
#contact{
    height: 500px;
    background-color:rgb(73, 60, 77);
}
